<odoo>
    <data>

        <!--        <menuitem-->
<!--            id="hr.menu_hr_root"-->
<!--            name="Collaborators"-->
<!--            groups="hr.group_hr_manager,hr.group_hr_user,base.group_user"-->
<!--            web_icon="hr,static/description/icon.png"-->
<!--            sequence="75"/>-->

<!--        <menuitem-->
<!--            id="menu_hr_employee_payroll"-->
<!--            name="Collaborators"/>-->
<!--        <menuitem-->
<!--            id="hr.menu_hr_employee_user"-->
<!--            name="Collaborators"/>-->
<!--        <menuitem-->
<!--            id="hr.menu_hr_employee"-->
<!--            name="Collaborators directory"/>-->

<!--        <record model="ir.ui.menu" id="hr.menu_human_resources_configuration">-->
<!--            <field name="sequence" eval="2"/>-->
<!--        </record>-->
<!--        <menuitem id="hr.menu_human_resources_configuration"-->
<!--            name="Collaborator"-->
<!--            parent="hr.menu_human_resources_configuration"-->
<!--            groups="hr.group_hr_manager"-->
<!--            />-->
<!--        <record model="ir.ui.menu" id="hr.menu_hr_department_tree">-->
<!--            <field name="sequence" eval="3"/>-->
<!--        </record>-->


        <menuitem id="hr_position_menu" action="hr_position_action" parent="hr.menu_config_recruitment" sequence="1"/>
        <menuitem id="hr_position_function_menu" action="hr_position_function_action" parent="hr.menu_config_recruitment" sequence="1"/>
        <menuitem id="hr_profession_menu" action="hr_profession_action" parent="hr.menu_config_recruitment" sequence="1"/>

        <menuitem id="menu_affiliate" name="Affiliate collaborators" parent="hr.menu_hr_employee_payroll" sequence="2" action="hr_dr_employee.affiliate_action"/>
        <menuitem id="menu_temporary" name="Temporary collaborators" parent="hr.menu_hr_employee_payroll" sequence="2" action="hr_dr_employee.temporary_action"/>
        <menuitem id="menu_intern" name="Interns collaborators" parent="hr.menu_hr_employee_payroll" sequence="2" action="hr_dr_employee.intern_action"/>
        <menuitem id="menu_unemployed" name="Unemployed collaborators" parent="hr.menu_hr_employee_payroll" sequence="2" action="hr_dr_employee.unemployed_action"/>
        <menuitem id="menu_retired" name="Retired collaborators" parent="hr.menu_hr_employee_payroll" sequence="2" action="hr_dr_employee.retired_action"/>

        <menuitem id="hr_employee_department_history_menu" action="hr_employee_department_history_action" parent="hr.menu_config_employee" sequence="11"/>
        <menuitem id="hr_employee_company_history_menu" action="hr_employee_company_history_action" parent="hr.menu_config_employee" sequence="12"/>
        <menuitem id="hr_employee_backup_menu" action="hr_employee_backup_action" parent="hr.menu_config_employee" sequence="13"/>
        <menuitem id="hr_employee_allergies_menu" action="hr_employee_allergies_action" parent="hr.menu_config_employee" sequence="14"/>
        <menuitem id="hr_catastrophic_disease_menu" action="hr_catastrophic_disease_action" parent="hr.menu_config_employee" sequence="15"/>
        <menuitem id="hr_employee_family_load_menu" action="hr_employee_family_load_action" parent="hr.menu_config_employee" sequence="16"/>
        <menuitem id="hr_judicial_withholding_menu" action="hr_judicial_withholding_action" parent="hr.menu_config_employee" sequence="17"/>
        <menuitem id="hr_employee_food_preferences_menu" action="hr_employee_food_preferences_action" parent="hr.menu_config_employee" sequence="18"/>
    </data>
</odoo>